# Node.js
node_modules/
dist/
.env
.env.*.local

# Vite
.vite/
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Husky
.husky/_

# TypeScript
*.tsbuildinfo

# Lint / Format
.eslintcache

# Coverage
coverage/

# Optional: if you're using vitest or jest
test-output/
*.log

# Idea project file
*.iml

#
build-output/

playwright-report/

# dynamically created component mapping used by unplugin-vue-components
components.d.ts